@font-face {
    font-family: 'IranSans';
    src: url('../fonts/IranianSans.eot'), 
        url('../fonts/IranianSans.eot') format('embedded-opentype'), 
        url('../fonts/IranianSans.woff') format('woff'), 
        url('../fonts/IranianSans.ttf') format('truetype'), 
        url('../fonts/IranianSans.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'IranSans'
}

.hero-slider-content { text-align: right; }

.hero-slider-area { direction: ltr; }

.hero-slider-button i {
    margin-left: 5px;
    margin-right: 0;
}

.hero-slider-content p.slider-title--small {
    width: auto;
    text-align: right;
}

.single-category-item__content {
    right: 30px;
    left: unset;
}

.single-category-item__content a i {
    margin-right: 5px;
    margin-left: unset;
}

.single-grid-product__category-rating .rating { float: left; }

.single-grid-product__price .discounted-price {
    margin-right: unset;
    margin-right: 10px;
}

.tab-slider-wrapper .tab-product-navigation .nav .nav-item:last-child { margin-right: 10px; }

.header-cart-icon .counter {
    left: 0;
    right: 100%;
}

.header-icon-wrapper > ul > li {
    margin-left: unset;
    margin-right: 30px;
}

#scroll-top span {
    margin-left: 15px;
    margin-right: unset;
}

.mini-cart .single-cart-item .content {
    padding-right: 10px;
    padding-left: unset;
}

.mini-cart .single-cart-item .remove-icon {
    left: 0;
    right: unset;
}

.copyright-social-wrapper .copyright-social li:last-child { margin-right: 40px; }

.navigation-menu-wrapper .sub-menu {
    left: unset;
    right: -20px;
}

.navigation-menu-wrapper .sub-menu li.menu-item-has-children > a::after {
    float: left;
    content: '\f3d2';
}

.navigation-menu-wrapper .sub-menu .sub-menu {
    right: 100%;
    left: auto;
}

.navigation-menu-wrapper nav > ul > li.menu-item-has-children > a::after {
    float: left;
    margin-right: 5px;
}

.navigation-menu-wrapper nav > ul > li:last-child {
    margin-right: 50px;
}

.pagination-area__right .pagination-section {
    text-align: left;
}

.single-grid-product__image .hover-icons {
    justify-content: center;
}

.single-grid-product__image .hover-icons a {
    border-right: unset;
}

.product-description-review-container nav .nav-tabs a.nav-link {
    margin-right: unset;
    margin-left: 50px;
}

.rating-list {
    float: right;
}

.rating-list .sin-list:last-child {
    margin-right: 30px;
}

.rating-author {
    float: right;
}

.sin-ratings .rating-author h3 {
    float: right;
}

.rating-form h5 {
    float: right;
    margin-right: unset;
    margin-left: 10px;
}

.rating-form .rating-star i {
    float: right;
}

.product-actions .product-buttons .cart-btn {
    margin-top: 0;
}

.single-sidebar-widget__category-list li.has-children > ul {
    margin-left: unset;
    margin-right: 15px;
}

.single-sidebar-widget__category-list li a span {
    right: unset;
    left: 0;
}

.single-block .image {
    margin-right: unset;
    margin-left: 5px;
}

.blog-single-post-container .post-content blockquote {
    margin: 41px 40px 40px 0px;
    border-right: 5px solid #e33;
}

.comment-container .single-comment span.reply-btn {
    left: 30px;
    right: unset;
}

.cart-summary .cart-summary-wrap h2 span {
    float: left;
}

.cart-summary .cart-summary-wrap p span {
    float: left;
}

.search-form form button {
    right: unset;
    left: 0;
}

.search-form form input {
    padding: 0 15px 0 50px;
}

.offcanvas-mobile-search-area button {
    right: unset;
    left: 20px;
}

.product-details-small-image-slider-wrapper .slick-prev {
    left: 0;
}

.hero-slider-item-wrapper .container img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}