@model AccountManagement.Application.Contracts.Account.ChangePassword
@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">تغییر کلمه رمز</h4>
</div>

<form asp-page="./Index" asp-page-handler="ChangePassword"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Password" class="control-label">کلمه رمز</label>
                    <input type="password" class="form-control" asp-for="Password">
                    <span asp-validation-for="Password" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="RePassword" class="control-label">تکرار کلمه رمز</label>
                    <input type="password" class="form-control" asp-for="RePassword">
                    <span asp-validation-for="RePassword" class="error"></span>
                </div>
            </div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
            <button type="submit" class="btn btn-info waves-effect waves-light">اعمال تغییر</button>
        </div>
    </div>
</form>