<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lampshapde Store</title>

    <!-- Vendor CSS -->
    <link href="~/Theme/assets/css/vendors.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="~/Theme/assets/css/style.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Theme/assets/css/Custom.css" rel="stylesheet">

</head>

<body>
    <!--====================  header area ====================-->
    <div class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--=======  header wrapper  =======-->
                    <div class="header-wrapper d-none d-lg-flex">
                        <!-- logo -->
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/Theme/assets/img/logo.png" class="img-fluid" alt="">
                            </a>
                        </div>
                        <!-- menu wrapper -->
                        <div class="navigation-menu-wrapper">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="index.html">HOME</a>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="#">PAGES</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children">
                                                <a href="#">Page List One</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="cart.html">Cart</a>
                                                    </li>
                                                    <li>
                                                        <a href="checkout.html">Checkout</a>
                                                    </li>
                                                    <li>
                                                        <a href="wishlist.html">Wishlist</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#">page list two</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="my-account.html">My Account</a>
                                                    </li>
                                                    <li>
                                                        <a href="login-register.html">Login Register</a>
                                                    </li>
                                                    <li>
                                                        <a href="faq.html">FAQ</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#">Page list three</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="compare.html">Compare</a>
                                                    </li>
                                                    <li>
                                                        <a href="contact.html">Contact</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html">About Us</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="blog-left-sidebar.html">BLOG</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="blog-left-sidebar.html">Blog Left Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="blog-right-sidebar.html">Blog Right Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="blog-post-left-sidebar.html">Blog Post Left Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="blog-post-right-sidebar.html">Blog Post Right Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="blog-post-image-format.html">Blog Post Image Format</a>
                                            </li>
                                            <li>
                                                <a href="blog-post-image-gallery.html">Blog Post Image Gallery</a>
                                            </li>
                                            <li>
                                                <a href="blog-post-audio-format.html">Blog Post Audio Format</a>
                                            </li>
                                            <li>
                                                <a href="blog-post-video-format.html">Blog Post Video Format</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="contact.html">CONTACT</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- header icon -->
                        <div class="header-icon-wrapper">
                            <ul class="icon-list">
                                <li>
                                    <a href="javascript:void(0)" id="search-overlay-trigger">
                                        <i class="ion-ios-search-strong"></i>
                                    </a>
                                </li>
                                <li>
                                    <div class="header-cart-icon">
                                        <a href="#" id="minicart-trigger">
                                            <i class="ion-bag"></i>
                                            <span class="counter">3</span>
                                        </a>
                                        <!-- mini cart  -->
                                        <div class="mini-cart" id="mini-cart">
                                            <div class="cart-items-wrapper ps-scroll">
                                                <div class="single-cart-item">
                                                    <a href="javascript:void(0)" class="remove-icon">
                                                        <i class="ion-android-close"></i>
                                                    </a>
                                                    <div class="image">
                                                        <a href="single-product.html">
                                                            <img src="~/Theme/assets/img/products/product-1-80x106.jpg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <p class="product-title">
                                                            <a href="single-product.html">Cillum dolore furniture</a>
                                                        </p>
                                                        <p class="count"><span>1 x </span> $402</p>
                                                    </div>
                                                </div>
                                                <div class="single-cart-item">
                                                    <a href="javascript:void(0)" class="remove-icon">
                                                        <i class="ion-android-close"></i>
                                                    </a>
                                                    <div class="image">
                                                        <a href="single-product.html">
                                                            <img src="~/Theme/assets/img/products/product-2-80x106.jpg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <p class="product-title">
                                                            <a href="single-product.html">Lorem ipsum furniture</a>
                                                        </p>
                                                        <p class="count"><span>1 x </span> $500</p>
                                                    </div>
                                                </div>
                                                <div class="single-cart-item">
                                                    <a href="javascript:void(0)" class="remove-icon">
                                                        <i class="ion-android-close"></i>
                                                    </a>
                                                    <div class="image">
                                                        <a href="single-product.html">
                                                            <img src="~/Theme/assets/img/products/product-3-80x106.jpg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <p class="product-title">
                                                            <a href="single-product.html">Cillum dolore tool</a>
                                                        </p>
                                                        <p class="count"><span>1 x </span> $607</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-calculation">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-right">Sub-Total :</td>
                                                            <td class="text-left">$220.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">Eco Tax (-2.00) :</td>
                                                            <td class="text-left">$6.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">VAT (20%) :</td>
                                                            <td class="text-left">$44.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">Total :</td>
                                                            <td class="text-left">$270.00</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="cart-buttons">
                                                <a href="cart.html">VIEW CART</a>
                                                <a href="checkout.html">CHECKOUT</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="header-settings-icon">
                                        <a href="javascript:void(0)" class="header-settings-trigger"
                                           id="header-settings-trigger">
                                            <div class="setting-button">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </a>

                                        <!-- settings menu -->
                                        <div class="settings-menu-wrapper" id="settings-menu-wrapper">
                                            <div class="single-settings-block">
                                                <h4 class="title">MY ACCOUNT </h4>
                                                <ul>
                                                    <li>
                                                        <a href="login-register.html">Register</a>
                                                    </li>
                                                    <li>
                                                        <a href="login-register.html">Login</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="single-settings-block">
                                                <h4 class="title">CURRENCY: USD </h4>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">€ Euro</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">$ US Dollar</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="single-settings-block">
                                                <h4 class="title">LANGUAGE: EN-GB </h4>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <img src="~/Theme/assets/img/icons/en-gb.png" alt=""> English
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <img src="~/Theme/assets/img/icons/de-de.png" alt=""> Germany
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--=======  End of header wrapper  =======-->
                    <!--=======  mobile navigation area  =======-->

                    <div class="header-mobile-navigation d-block d-lg-none">
                        <div class="row align-items-center">
                            <div class="col-6 col-md-6">
                                <div class="header-logo">
                                    <a href="index.html">
                                        <img src="~/Theme/assets/img/logo.png" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="mobile-navigation text-right">
                                    <div class="header-icon-wrapper">
                                        <ul class="icon-list justify-content-end">
                                            <li>
                                                <div class="header-cart-icon">
                                                    <a href="cart.html">
                                                        <i class="ion-bag"></i>
                                                        <span class="counter">3</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="mobile-menu-icon"
                                                   id="mobile-menu-trigger">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--=======  End of mobile navigation area  =======-->

                </div>
            </div>
        </div>
    </div>
    <!--====================  End of header area  ====================-->


    @RenderBody()

    <!--====================  footer area ====================-->
    <div class="footer-area">
        <div class="footer-copyright">
            <div class="container wide">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copyright-wrapper footer-copyright-wrapper--default-footer">
                            <div class="container">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-lg-2 col-md-2">
                                        <div class="footer-logo">
                                            <a href="#">
                                                <img src="~/Theme/assets/img/logo.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-5">

                                        <div class="copyright-text">

                                            Copyright &copy; 2019 <a href="#">Eposi</a>. All Rights Reserved.
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-5">
                                        <div class="copyright-social-wrapper">
                                            <ul class="copyright-social">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-youtube"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of footer area  ====================-->

    <div class="offcanvas-mobile-menu" id="offcanvas-mobile-menu">
        <a href="javascript:void(0)" class="offcanvas-menu-close" id="offcanvas-menu-close-trigger">
            <i class="ion-android-close"></i>
        </a>

        <div class="offcanvas-wrapper">

            <div class="offcanvas-inner-content">
                <div class="offcanvas-mobile-search-area">
                    <form action="#">
                        <input type="search" placeholder="Search ...">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <nav class="offcanvas-navigation">
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="#">Home</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="index.html">Home 01</a>
                                </li>
                                <li>
                                    <a href="index-2.html">Home 02</a>
                                </li>
                                <li>
                                    <a href="index-3.html">Home 03</a>
                                </li>
                                <li>
                                    <a href="index-4.html">Home 04</a>
                                </li>
                                <li>
                                    <a href="index-5.html">Home 05</a>
                                </li>
                                <li>
                                    <a href="index-6.html">Home 06</a>
                                </li>
                                <li>
                                    <a href="index-7.html">Home 07</a>
                                </li>
                                <li>
                                    <a href="index-8.html">Home 08</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children">
                                    <a href="#">Page List One</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="cart.html">Cart</a>
                                        </li>
                                        <li>
                                            <a href="checkout.html">Checkout</a>
                                        </li>
                                        <li>
                                            <a href="wishlist.html">Wishlist</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Page List Two</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="my-account.html">My Account</a>
                                        </li>
                                        <li>
                                            <a href="login-register.html">Login Register</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Page List Three</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="compare.html">Compare</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contact</a>
                                        </li>
                                        <li>
                                            <a href="about.html">About Us</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Shop</a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children">
                                    <a href="#">Shop Grid</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="shop-3-column.html">shop 3 column</a>
                                        </li>
                                        <li>
                                            <a href="shop-4-column.html">shop 4 column</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar.html">shop left sidebar</a>
                                        </li>
                                        <li>
                                            <a href="shop-right-sidebar.html">shop right sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Shop List</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="shop-list.html">shop List</a>
                                        </li>
                                        <li>
                                            <a href="shop-list-left-sidebar.html">shop List Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="shop-list-right-sidebar.html">shop List Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Single Product One</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="single-product.html">Single Product</a>
                                        </li>
                                        <li>
                                            <a href="single-product-variable.html">Single Product variable</a>
                                        </li>
                                        <li>
                                            <a href="single-product-affiliate.html">Single Product affiliate</a>
                                        </li>
                                        <li>
                                            <a href="single-product-group.html">Single Product group</a>
                                        </li>
                                        <li>
                                            <a href="single-product-tabstyle-2.html">Tab Style 2</a>
                                        </li>
                                        <li>
                                            <a href="single-product-tabstyle-3.html">Tab Style 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Single Product Two</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="single-product-gallery-left.html">Gallery Left</a>
                                        </li>
                                        <li>
                                            <a href="single-product-gallery-right.html">Gallery Right</a>
                                        </li>
                                        <li>
                                            <a href="single-product-sticky-left.html">Sticky Left</a>
                                        </li>
                                        <li>
                                            <a href="single-product-sticky-right.html">Sticky Right</a>
                                        </li>
                                        <li>
                                            <a href="single-product-slider-box.html">Slider Box</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="blog-left-sidebar.html">Blog Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="blog-right-sidebar.html">Blog Right Sidebar</a>
                                </li>
                                <li>
                                    <a href="blog-post-left-sidebar.html">Blog Post Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="blog-post-right-sidebar.html">Blog Post Right Sidebar</a>
                                </li>
                                <li>
                                    <a href="blog-post-image-format.html">Blog Post Image Format</a>
                                </li>
                                <li>
                                    <a href="blog-post-image-gallery.html">Blog Post Image Gallery</a>
                                </li>
                                <li>
                                    <a href="blog-post-audio-format.html">Blog Post Audio Format</a>
                                </li>
                                <li>
                                    <a href="blog-post-video-format.html">Blog Post Video Format</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>

                <div class="offcanvas-settings">
                    <nav class="offcanvas-navigation">
                        <ul>
                            <li class="menu-item-has-children">
                                <a href="#">MY ACCOUNT </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="login-register.html">Register</a>
                                    </li>
                                    <li>
                                        <a href="login-register.html">Login</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">CURRENCY: USD </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:void(0)">€ Euro</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">$ US Dollar</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">LANGUAGE: EN-GB </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img src="~/Theme/assets/img/icons/en-gb.png" alt="">
                                            English
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img src="~/Theme/assets/img/icons/de-de.png" alt="">
                                            Germany
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="offcanvas-widget-area">
                    <div class="off-canvas-contact-widget">
                        <div class="header-contact-info">
                            <ul class="header-contact-info__list">
                                <li>
                                    <i class="ion-android-phone-portrait"></i> <a href="tel://12452456012">
                                        (1245) 2456
                                        012
                                    </a>
                                </li>
                                <li>
                                    <i class="ion-android-mail"></i> <a href="mailto:info@yourdomain.com">info@yourdomain.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Off Canvas Widget Social Start-->
                    <div class="off-canvas-widget-social">
                        <a href="#" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" title="LinkedIn">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#" title="Youtube">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                        <a href="#" title="Vimeo">
                            <i class="fa fa-vimeo-square"></i>
                        </a>
                    </div>
                    <!--Off Canvas Widget Social End-->
                </div>
            </div>
        </div>

    </div>

    <div class="search-overlay" id="search-overlay">
        <a href="javascript:void(0)" class="close-search-overlay" id="close-search-overlay">
            <i class="ion-ios-close-empty"></i>
        </a>

        <!--=======  search form  =======-->

        <div class="search-form">
            <form action="#">
                <input type="search" placeholder="Search entire store here ...">
                <button type="submit">
                    <i class="ion-android-search"></i>
                </button>
            </form>
        </div>

        <!--=======  End of search form  =======-->
    </div>


    <!-- scroll to top  -->
    <div id="scroll-top">
        <span>Back to top</span><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i>
    </div>
    <!-- end of scroll to top -->
    <!-- Vendor JS -->
    <script src="~/Theme/assets/js/vendors.js"></script>

    <!-- Active JS -->
    <script src="~/Theme/assets/js/active.js"></script>

</body>

</html>